<p>
  Hello <%= name %>,
  <br /><br />
  You got registered to use Lacle's backoffice.
  <br />
  To activate your account, please follow this link and set a password:
  <a href="<%= confirm_link %>">Activate my account</a>
  <br /><br />
  Have a good day !
  <br />
  Lacle
</p>
