<p>
  Bonjour <%= name %>,
    <br /><br />
    Vous avez été inscrit pour utiliser le backoffice de Lacle FRom3.0.
    <br />
    Pour activer votre compte, veuillez suivre ce lien et définir un mot de passe:
    <a href="<%= confirm_link %>">Activer mon compte</a>
    <br /><br />
    Bonne journée !
    <br />
    Lacle
</p>