<p>
  Bonjour <%= name %>,
  <br /><br />
  Vous avez inscrit pour utiliser le backoffice de Lacle.
  <br />
  Pour activer votre compte, veuillez suivre ce lien et définir un mot de passe:
  <a href="<%= confirm_link %>">Activer mon compte</a>
  <br /><br />
  Bonne journée !
  <br />
  Lacle
</p>
